<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8" />
  <title>刮呀刮呀刮呀刮~~</title>
  <meta name="author" content="Po-Ying Chen">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
  <!-- <div id="bg">
  		<div class="btnfr">
  			<div class="btn1"></div>
  			<div class="btn2"></div>
  			<div class="btn3"></div>
  		</div>
  </div> -->
<!--   <div id="bg2">
      <div class="content"></div>
  </div> -->
  <!-- <div id="bg_over"></div> -->
  <!-- <div id="bg_phone"></div> -->
  <div id="mask_b"></div>
  <div id="bg_input">
    <div class="btn_fr">
     <!-- <input type='submit' value=" " class="btn4">
     <input type='submit' value=" " class="btn4">
     <input type='submit' value=" " class="btn4"> -->
      <a class="btn5 s1" href="/skii/start"></a>
      <a class="btn5 s2 active" href="/skii/say"></a>
      <a class="btn5 s3" href="/skii/arround"></a>
    </div>
    <div class="input_fr say_input_fr">
    </div>
  </div>
  <script>
      if (navigator.userAgent.indexOf('iPhone')!=-1) {
        $('html').css('height' ,417);
        $('body').css('height' ,417);
          window.addEventListener("load",function() {  
            setTimeout(function(){
            window.scrollTo(0, 1); }, 10);
          });
      };
      $(window).resize(function() {
        mask();
      });
      function mask(){
          var _wi = window.innerWidth;
          var _he = window.innerHeight;
          if(_wi >= _he){
            $('#mask_b').css('display','block');
          }else{
            $('#mask_b').css('display','none');
          }
      }
      mask();
      		// var _w = window.innerWidth;
      		// var _h = window.innerHeight;
        //   var a = (_h-480);
        //   // $('.aaa').html(Math.abs(a));
      		// $('#bg').css({'width':_w,'height':_h+100});
        //   $('#bg2').css({'width':_w,'height':_h+100});
        //   $('#bg_over').css({'width':_w,'height':_h+100});
        //   $('#bg_phone').css({'width':_w,'height':_h+100});
        //   // $('#bg_input').css({'width':_w,'height':'100%'});
        //   $('.content').css({'width':_w,'height':_h+100});
        //   $('.pic').css({'margin-left':(200-160)/2,'margin-top':30});
  </script>
</body>
</html>
